[Unit]
Description={bot_name} Grafana Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=__PROJECT_DIR__
ExecStart=/usr/bin/docker compose -f __PROJECT_DIR__/docker-compose.yml up grafana
ExecStop=/usr/bin/docker compose -f __PROJECT_DIR__/docker-compose.yml down
Restart=always
RestartSec=10s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=terezia-grafana

[Install]
WantedBy=multi-user.target